*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --border: 1px solid black;
    --Dark-Blue: hsl(209, 23%, 22%);
    --Very-Dark-Blue: hsl(208, 15%, 62%);
    --Text-light: hsl(200, 15%, 8%);
    --Dark-Gray-input: hsl(0, 0%, 52%);
    --Bg-light: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
    --width-container: 90%;
    --box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.151);
    --radius: 5px;
}

.App{
    background-color: var(--Bg-light);
    width: 100vw;
    min-height: 100vh;
}