.header{
    width: 100%;
    height: 60px;
    background-color: var(--White);
    box-shadow: var(--box-shadow);
}

.nav{
    width: var(--width-container);
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_dark_mode{
    cursor: pointer;
}

.icon_dark{
    margin-right: 5px;
}

